@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  height: 100vh;
  display: flex;
}

.images-con{
  width: 60%;
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding: 1rem;
  gap: 1rem;
}

.images-con > * {
  max-width: 49%;
  height: 20%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}

.login-con {
  right: 0;
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 10;
  background : linear-gradient(45deg , #75BD7F , #3e7846);
  border-radius: 300px 0 0 300px;
}

.login-con > h2 {
  width: 40%;
  font-size: 70px;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 29%;
  right: 5%;
  color: #fff;
}

.container {
  width: 27.3rem;
  background-color: #f5f4f4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 20px 15px;
  position: absolute;
  top: 25%;
  left: -2%;
}

.profile_picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f5f4f4;
  position: absolute;
  border: 2px solid #007e06;
  top: -65px;
  left: 165px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.profile_picture > img {
  width: 65%;
  color: #353535;
}

form {
  margin: 10px;
  margin-top: 50px;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

label {
  padding: 20px;
}


.reset_button , .submit_button {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.reset_button:hover , .submit_button:hover{
  background-color: #3e7c5c31;
}

p {
  margin-top: 1rem;
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #3ac214;
}

.modal {
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  display: none;
}

.success {
  background-color: #a5c983;;
}

.error {
  background-color: #f76464;
}

.name-valid,
.pass-valid,
.email-valid {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-valid p,
.pass-valid p,
.email-valid p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pass-section {
  position: relative;
}

.toggle-password {
  position: absolute;
  left: 92%;
  top: 20%;
  cursor: pointer;
}

.toggle-password svg {
  width: 70%;
}

.button {
  cursor: pointer;
  background-color: #79b185;
  border: none;
  box-shadow: none;
}

.button:hover {
  background-color: #84a98c;
}
