@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(117, 189, 127);
  font-family: Roboto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 27.3rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 20px 15px;
  position: relative;
}

.welcome-tag{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile_picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #007e06;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.profile_picture > svg {
  width: 65%;
  color: #353535;
}

form {
  margin: 10px;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

label {
  padding: 20px;
}

.submit_button , .reset_button {
  margin-top: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.submit_button:hover  , .reset_button:hover{
  background-color: #3e7c5c31;
}

p {
  text-align: center;
  font-size: 14px;
}

.login-guide {
  margin-top: 1rem;
  font-size: medium;
}

a {
  text-decoration: none;
  color: #3ac214;
}

.modal {
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  display: none;
  color: #fff;
}

.success {
  background-color: #a5c983;;
}

.error {
  background-color: #f76464;
}

.name-valid,
.pass-valid,
.email-valid {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-valid p,  
.pass-valid p,
.email-valid p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pass-section {
  position: relative;
}

.toggle-password {
  position: absolute;
  left: 92%;
  top: 23%;
  cursor: pointer;
}

.toggle-password svg {
  width: 70%;
}

.valid-notif{
  padding: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invalid{
  color: red;
}

.valid{
  color: green;
}

.hide-elem{
  display: none;
}

.button {
  cursor: pointer;
  background-color: #79b185;
  border: none;
  box-shadow: none;
}

.button:hover {
  background-color: #84a98c;
}